.section1{
    float: left;
    background-color: rgb(0, 255, 255);
}
.section2{
    float: right;
    background-color: antiquewhite;
}
.section3{
    /* float: right; */
    background-color: rgb(100, 57, 0);
    color: white;
}
.clear-div{
    clear: both;
}