*{
    box-sizing: border-box;

}

@media screen and (max-width: 700px) {
    body{
        background-color: brown;
    }
}

@media screen and (max-width: 600px) {
    body{
        background-color: cadetblue;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}





/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}